/* Global style */

:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --grey: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: "Libre Franklin", sans-serif;
font-optical-sizing: auto;
*/

body {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    color: var(--grey);
}

/* Typograpghy */

h1 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 75px;
}

span {
    font-weight: 900;
    color: var(--very-dark-blue);
}

h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--very-dark-blue);
    margin-top: 20px;
    margin-bottom: 35px;
}

button {
    background-color: var(--blue);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid var(--blue);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover,
button:focus {
    cursor: pointer;
}

footer i {
    color: var(--blue);
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid var(--pale-blue);
    padding: 5px;
}

footer i:hover,
footer i:focus {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border-radius: 50%;
}


/* Layout */

.logo {
    height: 1px;
}

.container {
    text-align: center;
    padding: 2em;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    display: grid;
    max-width: 100%;
    grid-gap: 5px;
}

input {
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid var(--pale-blue);
    width: 300px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--pale-blue);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--pale-blue);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--pale-blue);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--pale-blue);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--pale-blue);
}

::placeholder { /* Most modern browsers support this now. */
    color: var(--pale-blue);
}

.error {
    color: red;
}

.dashboard {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 80px;
}

footer {
    text-align: center;
}

footer p {
    margin-top: 35px;
    margin-bottom: 55px;
}



@media only screen and (min-width: 629px) {

    h1 {
        font-weight: 300;
        font-size: 40px;
    }

    h2 {
        font-size: 18px;
        font-weight: 400;
    }
    
    #form {
        grid-template-columns: 2fr 1fr;
        grid-gap: 15px;
    }

    input {
        width: 400px;
    }

    .error {
        grid-row: 2;
    }

    .dashboard {
        width: 600px;
    }
}


@media only screen and (max-width: 349px) {

    input {
        width: 200px;
    }

    .dashboard {
        width: 90%;
    }
}
